#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --svg-size: 5em;
}

/* Title */
.title {
  font-size: 2em;
  line-height: 1.1;
}

.dark-mode {
  --color-filter: invert(1) hue-rotate(180deg);
}

.harmoi-glyph {
  filter: var(--color-filter);
  transition: filter var(--transition-duration);
}
