:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block; /* Allow full width */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Dark mode */
:root {
  --text-color: rgba(33, 53, 71);
  --bg-color: rgba(240, 240, 240);
  --color-scheme: light;
  --transition-duration: 0.3s;
  --hover-bg: white;
}

.dark-mode {
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: rgba(36, 36, 36);
  --color-scheme: dark;
  --hover-bg: black;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  color-scheme: var(--color-scheme);
  transition:
    color var(--transition-duration),
    background-color var(--transition-duration),
    color-scheme var(--transition-duration);
}
